*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    /* font-size: 1.25rem; */
}

/* ---------- header/hero ---------*/
.dark-bg {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 24px;
        color: #f9faf8;
        /* padding-left: 10px; */
    }
}

section {
    margin-block: 20px;
}

.pri-nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #e5e7eb;
    /* padding: 18px; */

    li{
        padding: 0;
        margin: 0;
    }
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.hero {
    padding-block-end: 30px;
    margin-block-start: 40px;
}

.hero .main-text {
    font-size: 3rem;
    color: #f9faf8;
    line-height: 1.2;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    font-size: 18px;
}

.img {
    background-color: gray;
    border: 1px solid ;
    max-inline-size: 100%;
}


/* ---------- info ---------- */
.info-section {
    text-align: center;
}

.title {
    font-size:36px;
    color: #1f2937;
    font-weight: 900;
    margin-block-end: 32px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.card {
    inline-size: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card div {
    inline-size: 100px;
    block-size: 100px;
    border: 1px solid #3882f6;
    border-radius: 8px;
}