*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ---------- header/hero ---------*/
header {
    display: flex;
    justify-content: space-between;
}

.pri-nav ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dark-bg {
    background-color: #1f2937;
}